* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}


.img-lua {
    width: 140px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.img-vela {
    width: 150px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.img-estrela1 {
    width: 100px;
    position: absolute;
    top: 15px;
    left: 640px;
}

.img-estrela2 {
    width: 80px;
    position: absolute;
    bottom: 45px;
    left: 160px;
}


.img-estrela-big {
    width: 140px;
    position: absolute;
    top: 210px;
    left: 50px;
}



.left {
    width: 50%;
    background-color: #10403B;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.left button {
    background-color: #0f6b5b;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 15px;
     box-shadow: 0px 1px 3px #000
}


.left h1 {
    position: absolute;
    top: 290px;
    font-weight: 100;
    font-size: 40px;
}

.left p {
    font-size: 20px;
    font-weight: 100;
    margin-top: -10px;
    margin-bottom: 40px;
}

.right {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.right h2 {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 25px;
    font-size: 26px;
    margin-bottom: 25px;
}

.social-icons i {
    cursor: pointer;
}

input {
    width: 70%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    background-color: #d9d9d9;
    border-radius: 20px;
    font-size: 14px;
}

.btn-submit {
    background-color: #0f6b5b;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0px 1px 10px #000
}

/* .left img {
    width: 90%;
    margin: -160px;
    position: relative;
    left: -20px;
} */